img.logo {
  margin: 16px 0px 9px 0px;
}
#block-responsivemenumobileicon{
  width: 100%;
  .responsive-menu-toggle-icon{
    float: right;
    margin-right: 25px;
    span.label{
      display: none;
    }
    span.icon,
    &:before,
    &:after{
      background: #000;
    }
  }
}
#off-canvas li{
  width: 100%;
  display: block;
}
#right-off-canvas-menu{
  display: none;
}
//Menu
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  float: right;
}
.we-mega-menu-ul > .we-mega-menu-li > a {
  background-color: #F6F6F6 !important;
  padding: 16px !important;
  font-size: 1em;

}
.we-mega-menu-ul > .we-mega-menu-li {
  border-left: 0px solid #E1E3E5 !important;
  &.active > a {
    position: relative;
    &:after {
      bottom: 0px;
      right: 0;
      content: "";
      height: 4px;
      background-color: $secondary-color;
      width: 100%;
      position: absolute;
      opacity: 1;
      background-image: none;
    }
  }
  &:hover > a {
    position: relative;
    &:after {
      bottom: 0px;
      right: 0;
      content: "";
      height: 4px;
      background-color: $secondary-color;
      width: 100%;
      position: absolute;
      opacity: 1;
      background-image: none;
    }
  }
}
.page-node-10, .section-productos-y-servicios, body[class*='en-productos-y-servicios'] {
  .we-mega-menu-ul > .we-mega-menu-li {
    border-left: 0px solid #E1E3E5 !important;
    &.active > a {
      position: relative;
      &:after {
        top: 53px;
        right: 0;
        content: "";
        height: 4px;
        background-color: $secondary-color;
        width: 100%;
        position: absolute;
        opacity: 1;
        background-image: none;
      }
    }
  }
}
.page-node-10, .en-products-and-services, body[class*='en-products-and-services'] {
  .we-mega-menu-ul > .we-mega-menu-li {
    border-left: 0px solid #E1E3E5 !important;
    &.active > a {
      position: relative;
      &:after {
        top: 53px;
        right: 0;
        content: "";
        height: 4px;
        background-color: $secondary-color;
        width: 100%;
        position: absolute;
        opacity: 1;
        background-image: none;
      }
    }
  }
}
.we-mega-menu-ul > .we-mega-menu-li {
  border-left: 0px solid #E1E3E5 !important;
  &.dropdown-menu {
    &:hover > a {
      position: relative;
      &:after {
        top:53px;
        right: 0;
        content: "";
        height: 4px;
        background-color: $secondary-color;
        width: 100%;
        position: absolute;
        opacity: 1;
        background-image:none;
      }
    }
  }
}
.we-mega-menu-submenu {
  background-color: $secondary-color;
  border: 0;
  padding: 30px 16px 16px 16px;
  a {
    color: $white !important;
    text-transform: uppercase;
    padding-bottom: 1em !important;
    &:hover {
      color: $white !important;
      text-transform: uppercase;
      border-bottom-color: $white !important;
    }
  }
}
.we-mega-menu-ul .dropdown-menu > a:before, .we-mega-menu-ul .dropdown-menu > a:after {
  content: '';
  position: absolute;
  right: 0.06rem;
  top: 50%;
  margin-top: -.3125rem;
  width: .6875rem;
  height: .6875rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.navbar-we-mega-menu {
  background-color: transparent;
}
//Selector de idioma
#block-idiomaselector {
  margin-top: 22px;
  padding-right: 12px;
}
//Banner titulo de pagina
#block-titulodelapagina {
  height: 129px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  margin-bottom: 34px;
  text-align: center;
  h1 {
    color: $white;
    font-size: 1.6em;
    border: 4px solid #FFF;
    padding: 11px;
    margin-bottom: 0;
    display: inline-block;
    &:before {
      display: none;
    }
    @include breakpoint(medium){
      font-size: 3em;
    }
  }
  @include breakpoint(medium){
    padding: 80px 0;
    text-align: inherit;
    height: 226px;
  }
}
#block-titulodelapagina > div {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}
//Titulares-fondos
.page-node-10, .section-politicas-de-privacidad, .section-user {
  .l-help {
    background-image: url("../images/bg/about.jpg");
  }
}
.section-productos-y-servicios, body[class*='en-productos-y-servicios'] {
  .l-help {
    background-image: url("../images/bg/productos.jpg") ;
  }
}
.en-products-and-services, body[class*='en-products-and-services'] {
  .l-help {
    background-image: url("../images/bg/productos.jpg");
  }
}
.section-sostenibilidad, .en-sostenibilidad, .en-sustainability {
  .l-help {
    background-image: url("../images/bg/sostenibilidad.jpg");
  }
}
.section-noticias, .section-noticia, .en-noticias, .en-news {
  .l-help {
    background-image: url("../images/bg/noticias.jpg");
  }
}
.page-node-115 {
  .l-help {
    background-image: url("../images/bg/contacto.jpg");
  }
}