img.logo {
  margin: 16px 0px 9px 0px;
}

//Menu

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  float: right;
}

.we-mega-menu-ul > .we-mega-menu-li > a {
  background-color: #F6F6F6 !important;
  padding: 16px !important;
  font-size: 1em;

}

.we-mega-menu-ul > .we-mega-menu-li {
  border-left: 0px solid #E1E3E5 !important;
  &.active > a {
    position: relative;
    &:after {
      bottom: 0px;
      right: 0;
      content: "";
      height: 4px;
      background-color: $secondary-color;
      width: 100%;
      position: absolute;
      opacity: 1;
      background-image: none;
    }
  }
  &:hover > a {
    position: relative;
    &:after {
      bottom: 0px;
      right: 0;
      content: "";
      height: 4px;
      background-color: $secondary-color;
      width: 100%;
      position: absolute;
      opacity: 1;
      background-image: none;
    }
  }
}

.section-acerca-de-nosotros, .section-productos-y-servicios {
  .we-mega-menu-ul > .we-mega-menu-li {
    border-left: 0px solid #E1E3E5 !important;
    &.active > a {
      position: relative;
      &:after {
        top: 53px;
        right: 0;
        content: "";
        height: 4px;
        background-color: $secondary-color;
        width: 100%;
        position: absolute;
        opacity: 1;
        background-image: none;
      }
    }
  }
}

.we-mega-menu-ul > .we-mega-menu-li {
  border-left: 0px solid #E1E3E5 !important;
  &.dropdown-menu {
    &:hover > a {
      position: relative;
      &:after {
        top:53px;
        right: 0;
        content: "";
        height: 4px;
        background-color: $secondary-color;
        width: 100%;
        position: absolute;
        opacity: 1;
        background-image:none;
      }
    }
  }
}

.we-mega-menu-submenu {
  background-color: $secondary-color;
  border: 0;
  padding: 30px 16px 16px 16px;
  a {
    color: $white !important;
    text-transform: uppercase;
    padding-bottom: 1em !important;
    &:hover {
      color: $white !important;
      text-transform: uppercase;
      border-bottom-color: $white !important;
    }
  }
}

.we-mega-menu-ul .dropdown-menu > a:before, .we-mega-menu-ul .dropdown-menu > a:after {
  content: '';
  position: absolute;
  right: 0.06rem;
  top: 50%;
  margin-top: -.3125rem;
  width: .6875rem;
  height: .6875rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.navbar-we-mega-menu {
  background-color: transparent;
}

//Selector de idioma

#block-idiomaselector {
  margin-top: 22px;
  padding-right: 12px;
}

//Banner titulo de pagina
#block-titulodelapagina {
  height: 226px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 34px;
  h1 {
    color: $white;
    font-size: 3em;
    border: 4px solid #FFF;
    padding: 11px;
    margin-bottom: 0;
    display: inline-block;
    &:before {
      display: none;
    }
  }
}

#block-titulodelapagina > div {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

//Titulares-fondos
.section-acerca-de-nosotros {
  #block-titulodelapagina {
    background-image: url("../images/bg/about.jpg");
  }
}

.section-productos-y-servicios {
  #block-titulodelapagina {
    background-image: url("../images/bg/productos.jpg");
  }
}

.section-sostenibilidad {
  #block-titulodelapagina {
    background-image: url("../images/bg/sostenibilidad.jpg");
  }
}

.section-noticias, .section-noticia {
  #block-titulodelapagina {
    background-image: url("../images/bg/noticias.jpg");
  }
}

.section-contacto {
  #block-titulodelapagina {
    background-image: url("../images/bg/contacto.jpg");
  }
}
