body {
  background-color: $body-color-background;
}

.container-subcontent {
  padding: 45px 0;
}

.container-firts {
  background: $primary-color;
  padding: 45px 0;
  margin-top: 20px;
}
.page-node-10{
  .container-firts{
    background-image: url("../images/equipo.jpg");
  }
  .container-new {
    background-image: url("../images/mega.jpg");
  }
}

.container-new {
  background: $secondary-color;
  padding: 45px 0;
}

.path-frontpage{
  .container-new {
    display: none;
  }
  .container-firts {
    background: $white;
  }
}
.container-mapcontent{
  margin: 0;
  padding: 0;
}
.page-node-115{
  .container-new {
    padding: 85px 0;
  }
  .container-subcontent{
    display: none;
  }
}

.section-politicas-de-privacidad, .section-user{
  .container-firts, .container-new, .container-subcontent {
    display: none;
  }
}