// Slider Home
.block-views-block-slider-home-block-1 {
  img {
    width: 100%;
  }
}

// types of services and products

.region-highlighted {
  background: $body-color-background;
  border: 0;
  box-shadow: 0 0;
}

//Bloque nosotros
#block-acercadenosotos {
  .medium-12 {
    padding: 60px 0;

  }
}

//Productos home
.productos {
  .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .container-service {
    background: $secondary-color;
    padding: 20px 14px;
    position: relative;
    margin-bottom: 20px;
    @include breakpoint(medium){
      margin-bottom: 0;
    }

    .title {
      z-index: 6;
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
    }
    .icon {
      position: relative;
      margin-bottom: 16px;
      z-index: 6;
      bottom: 0px;
      &:before {
        position: absolute;
        top: 80px;
        right: 45%;
        content: "";
        width: 16px;
        height: 1px;
        background: $white;
      }
    }
    .enlace{
      top: -300px;
      left: 123px;
      z-index: 6;
      position: absolute;
      opacity: 0;
      a{
        font-size: 5em;
        color: $white;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &:after {
      position: absolute;
      background: $primary-color;
      width: 100%;
      height: 0px;
      content: "";
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    &:hover {
      &:after {
        position: absolute;
        background: $primary-color;
        width: 100%;
        height: 414px;
        content: "";
        bottom: 0;
        left: 0;
        transition: all .6s ease;
        z-index: 1;
      }
      .icon {
        position: relative;
        margin-bottom: 16px;
        z-index: 6;
        bottom: 160px;
        transition: all .3s ease;
        &:before {
          position: absolute;
          top: 80px;
          right: 45%;
          content: "";
          width: 16px;
          height: 1px;
          background: $white;
        }
      }
      .enlace{
        top: 10px;
        left: 123px;
        z-index: 6;
        position: absolute;
        transition: all .3s ease;
        opacity: 1;
        a{
          font-size: 5em;
          color: $white;
        }
      }
    }

  }
  .views-row:nth-child(even) .container-service {
    background: $primary-color;
  }
  .img{
    img {
      width: 100%;
    }
  }
}
//Bloque certificaciones

#block-certificaciones{
  text-align: center;
  @include breakpoint(medium){
    text-align: inherit;
  }
}

//SLider home
.slidebanner {
  margin-bottom: 39px;
}

.container-slide {
  position: relative;
  .info {
    position: absolute;
    z-index: 3;
    top: 33%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 83vw;
    text-transform: uppercase;
    font-size: 2.6vw;
    text-align: center;
    color: $white;
    p{
      line-height: 1.2em;
    }
    @include breakpoint(medium){
      width: 60vw;
    }
  }
  .imagen {
    position: relative;
  }
}

//Noticias listados
.container-white {
  background: $white;
  padding: 18px 12px 12px 12px;
  height: 300px;
  margin-bottom: 16px;
  .title {
    a {
      font-size: 1.2em;
      font-weight: 600;
      position: relative;
      margin-bottom: 30px;
      &:after {
        content: "";
        bottom: -14px;
        left: 0;
        width: 24px;
        height: 1px;
        background: $primary-color;
        position: absolute;
      }
    }
  }
  .autor {
    margin-top: 20px;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 8px;
  }
  .date {
    color: $primary-color;
    font-size: 2.6em;
    text-align: center;
    font-weight: 900;
    strong {
      display: block;
      font-size: 0.4em;
      margin-top: -10px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

//Seccion noticias
.section-noticias, .section-sostenibilidad, .section-productos-y-servicios,
.section-noticia, .en-products-and-services-oils-and-derivates, .en-products-and-services-services,
.en-products-and-services-agricultural-supply, .en-products-and-services-industrial-supply, .en-sostenibilidad,
.en-noticias {
  .container-firts, .container-subcontent, .container-new {
    display: none;
  }
}

.section-acerca-de-nosotros, .en-about-us {
  .container-new {
    display: none;
  }
}

.section-noticia {
  #block-acepalma-content {
    img {
      margin-bottom: 20px;
    }
    .field-name-node-changed-date {
      margin-bottom: 24px;
      color: $primary-color;
      position: relative;
      &:after {
        content: "";
        width: 32px;
        height: 1px;
        background: $primary-color;
        left: 0;
        top: 30px;
        position: absolute;
      }
    }
    .field-name-body {
      margin-bottom: 50px;
    }
  }
}

//Seccion nosotros
.about, .section-sostenibilidad, .en-sostenibilidad  {
  h1, h2, h3,
  h4, h5, h6 {
    &:before {
      left: 0 !important;
    }
  }
}

.block-bloquedenodomegaacepalma, .block-bloquedenodopropuestadevalor {
  h2, p {
    color: $white !important;
    &:before {
      background-color: $white;
    }
  }
  p {
    font-size: 1em;
    padding: 0;
    @include breakpoint(medium){
      padding: 0 15%;
      font-size: 1.4em;
    }
  }
}

.block-bloquedenodovalores {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 40px;
    @include breakpoint(medium){
      margin-bottom: 100px;
    }

  }
  h5 {
    margin-bottom: 20px;
    color: $dark-gray;
    font-size: 1.4em;
    bottom: 0;
    background: #f6f6f6;
    display: inline-block;
    padding: 20px;
    &:before {
      content: "";
      width: 14px;
      height: 2px;
      background: $secondary-color;
      left: 48%;
      top: 50px;
      position: absolute;
    }
    &:hover{
      color: $primary-color;
      cursor: pointer;
      font-size: 1.6em;
      bottom: 20px;
      transition: all 0.3s ease;
    }
  }
  p{
    font-size: 1.3em;
  }
}

//Seccion productos
a.feed-icon {
  display: none;
}

#block-productosyservicios-2 {
  .navbar-we-mega-menu {
    background: $primary-color;
  }
  .we-mega-menu-ul > .we-mega-menu-li > a {
    background-color: $primary-color !important;
    border-bottom: 1px solid #6DA6CB;
    color: $white;
    padding: 36px 16px !important;
  }
  .we-mega-menu-ul > .we-mega-menu-li {
    &.active > a {
      position: relative;
      background-color: #31678A !important;
      &:after {
        display: none;
      }
    }
  }
}

.section-productos-y-servicios {
  .title {
    color: $primary-color;
    font-weight: 600;
    font-size: 1.4em;
    position: relative;
    margin-bottom: 24px;
    &:after {
      position: absolute;
      content: "";
      background: $primary-color;
      width: 20px;
      height: 1px;
      left: 0;
      bottom: -14px;
    }
  }
  .container-white {
    height: 500px;
  }
  .img-news{
    img{
      width: 100%;
    }
  }
}

//Contacto

h2.location-title {
  font-size: 1em;
  margin-bottom: 0;
  &:before {
    display: none;
  }
}

.ubicacion {
  display: block;
  height: 110px;
  margin-bottom: 16px;
  text-align: center;
  color: $white;
  @include breakpoint(medium){
    text-align: center;
  }
  .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: $white;
  }

}

.page-node-115 {
  .main-content {
    display: none;
  }
  #block-titulodelapagina {
    margin-bottom: 0px;
  }
  .container-firts {
    margin-top: 0px;
  }
}
.block-views-block-ubications-block-1{
  h2{
    color: $white;
  }
}

.contacto {
  h2 {
    color: $white;
    font-size: 1.6em;
    line-height: 24px;
    text-align: center;
    &:before {
      left: 0;
      background: $secondary-color;
    }
    @include breakpoint(medium){
      font-size: 2.2em;
      line-height: 38px;
      text-align: inherit;
    }
  }
  label {
    color: $white;
  }
  input, select {
    color: $dark-gray;
  }
  .webform-submission-contact-form {
    .columns {
      padding-left: 0;
    }
  }
}

//Bloque selector de asuntos de contacto

#block-asuntosdecontacto {
  display: none;
  @include breakpoint(medium){
    display: block;
  }
  a.asunto {
    height: 80px;
    border: 1px solid #466585;
    display: block;
    position: relative;
    margin-bottom: 6px;
    &:after {
      position: absolute;
      background: $secondary-color;
      height: 80px;
      content: "";
      width: 100%;
      opacity: 0;
    }
    &:hover {
      &:after {
        position: absolute;
        background: $secondary-color;
        height: 80px;
        content: "";
        width: 100%;
        opacity: 0.6;
        transition: all 0.8s ease;
      }
    }
    &:active {
      &:after {
        position: absolute;
        background: $secondary-color;
        height: 80px;
        content: "";
        width: 100%;
        opacity: 0.4;
      }
    }

    strong {
      color: $white;
      margin-top: 24px;
      position: absolute;
      right: 40px;
      text-transform: uppercase;
      font-size: 1.6em;
      z-index: 5;
    }
    &.clientes {
      background-image: url("../images/clientes.jpg");
    }
    &.proveedores {
      background-image: url("../images/proveedores.jpg");
    }
    &.pqrs {
      background-image: url("../images/pqrs.jpg");
    }
    &.practicantes {
      background-image: url("../images/practicantes.jpg");
    }
    &.etica {
      background-image: url("../images/etica.jpg");
    }
    &.trabajar {
      background-image: url("../images/trabajar.jpg");
    }
  }
}

.wrapper-article{
  margin-bottom: 30px;
  border-bottom: solid 1px #ccc5c5;
  padding-bottom: 30px;
}

.msg-asunto{
  color: $white;
  padding: 0 45px;
  font-size: 1em;
  line-height: 18px;
  position: relative;
  margin-bottom: 28px;
  &:before{
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 38px;
    right: 49%;
    background-image: url("../images/down.png");
  }
}
//Twitter
#block-twitter{
  color: $white;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 24px;
  margin-left:9px;
  img{
    margin-left: 8px;
  }
}

//Fertilizantes


#block-views-block-fertilizantes-block-1 {
  margin: 40px 0;
  display: inline-block;
  img {
    margin: 12px;
  }
  .views-view-grid {
    color: white;
  }
}

//Bloque de cifras
section#block-views-block-vista-de-cifras-block-1 {
  background: $white;
  padding: 54px 0;
}

//Capacidad

section#block-informacioncapacidadlogistica {
  padding: 51px 0;
  p.capacidad {
    font-size: 2em;
  }
  h4{
    margin-bottom: 0;
    margin-top:20px;
    &:before{
      display:none;
    }
  }
  h2{
    &:before{
      left: 0 !important;
    }
  }
}