// Slider Home
.block-views-block-slider-home-block-1 {
  img {
    width: 100%;
  }
}


// types of services and products

.region-highlighted {
  background: $body-color-background;
  border: 0;
  box-shadow: 0 0;
  }
