// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
  line-height: 1em;
  color: $primary-color;
  @include breakpoint(medium){
    margin-bottom: 60px;
  }
  .block-title{
    text-transform: uppercase;
    font-weight: 700;
  }
  strong{
    color: $primary-color;
  }
  &:before{
    bottom: -14px;
    left: 40%;
    width: 80px;
    height: 1px;
    background-color: $primary-color;
    content: "";
    position: absolute;
    @include breakpoint(medium){
      left: 47%;
    }
  }
  &.lateral{
    margin-top: 80px;
    &:before{
      top: 70px;
      left: 47%;
      width: 80px;
      height: 0px;
      background-color: $primary-color;
      content: "";
      position: absolute;
    }
  }
}
.block-views-block-page-noticias-block-1{
  h5{
    &:before{
      top: 40px;
      left: 0%;
      width: 40px;
      height: 1px;
      background-color: $primary-color;
      content: "";
      position: absolute;
    }
  }
}
p{
  font-size: 1.1em;
}
p.destacado {
  font-size: 1.3em;
  padding: 0 80px;
  text-align: center;
}
.button{
  text-transform: uppercase;
  color: $primary-color;
  background-color: transparent;
  border: 3px solid $primary-color;
}
.button.success{
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 3px solid $white;
}
hr{
  &.light{
    border: 0px;
  }
}


p.destacado2 {
  font-size: 1.3em;
  padding: 0 10px;
  @include breakpoint(medium){
    padding: 0 80px;
  }
}
.button{
  text-transform: uppercase;
  color: $primary-color;
  background-color: transparent;
  border: 3px solid $primary-color;
}
// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}
